img {
    float: left;
}
 .below {
    clear: left;
 }









/* li a:visited {
    color:red;
}
li a {
    color: green;
}
li a:hover {
    color: pink;
} */

/* <a title="BCIT homepage" href="https://bcit.ca">Links</a> */
/* [title="BCIT homepage"] {
    background-color: yellow;
}

li:first-child::first-letter {
    font-weight: bold;
    font-size: 120%;
} */











/* div h2 {
    font-style: italic;
}

h2+p {
    color:red;
}

.list > li {
    border-bottom: 1px grey solid;
    list-style-type: none;
} */